# Last matching pattern wins.

*                         @foundry/platform

/terraform/               @foundry/platform @foundry/security-review
/helm/                    @foundry/platform @foundry/security-review
/.github/workflows/       @foundry/platform @foundry/security-review
/docs/                    @foundry/security-review
/CODEOWNERS               @foundry/security-review
**/Dockerfile             @foundry/platform @foundry/security-review

/services/ingest-api/     @foundry/ingest @foundry/platform
